{{define "nav"}}
<nav class="nav">
    <ul class="nav__listing">
        <li class="nav__item">
            <a class="nav__link" href="/">Home</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="/">About me</a>
        </li>
    </ul>
</nav>
{{end}}